@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    
}

/*--------------------------------------------------------------------------------------------------------------------Navbar--*/

.navbar {
    z-index: 1;
    background-color: #1a1c1d;
}

.nav-heading a {
    color: floralwhite;
    font-weight: 400;
}

/*--------------------------------------------------------------------------------------------------------------------Footer--*/

.container-wrapper-footer {
    background-color: #1a1c1d;
    text-align: center;
    padding-top: 1.25rem;
    padding-bottom: 0.625rem;
}    

.social-footer a {
    font-size: xxx-large;
    color: floralwhite;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.footer-container h6 {
    color: floralwhite;
}

.footer-container p {
    color: floralwhite;
    font-size: xx-small;
    margin-bottom: 0;
}

/*--------------------------------------------------------------------------------------------------------------------HOMEPAGE - Logo/Background--*/

.bk-container {
    height: 100vh;
    background: url(../images/fob_flower.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:flex;    
    align-items:flex-end;
    justify-content: center;
    position: relative;
    margin-top: -0.313rem;
}

.logo {
    z-index: 1;
    position: absolute;
    top: 0;
    margin-top: 2.5rem;
}

.jumbotron-main {
    background-color: transparent;
    padding-top: 43.75rem;
    padding-bottom: 3.75rem;
    margin-top: 0;
    border-top-width: 3.125rem;
}

.main-header {
    font-weight: bold;
    color: floralwhite;
    margin-bottom: 1.875rem;
}

/*--------------------------------------------------------------------------------------------------------------------Home - About--*/

.container-wrapper-about{
    padding-left: 0.313rem;
    padding-right: 0.313rem;
    background-color: floralwhite;
    padding-top: 3.125rem;
}

.about-container p {
    margin-bottom: 0;
    padding-bottom: 3.125rem;
}

.features-header {
    margin-bottom: 1.25rem;
}

/*--------------------------------------------------------------------------------------------------------------------Home - Features--*/

.container-wrapper-features {
    background-color: #f0b2d6;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

/*--------------------------------------------------------------------------------------------------------------------MUSIC - Jumbotrons--*/

.bk-music-container {
    background-color: lightpink;
}

.jumbotron-audio-music {
    background-color: transparent;
    padding-top: 43.75rem;
    padding-bottom: 3.75rem;
    margin-top: 0;
    border-top-width: 3.125rem;
}

.music-header {
    font-weight: bold;
    color: black;
    margin-bottom: 1.875rem;
}

/*--------------------------------------------------------------------------------------------------------------------Music - Main Header--*/

.embeded-video {

}

/*--------------------------------------------------------------------------------------------------------------------CREDITS - Main Header--*/

.main-artist-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-artist-image {
    text-align: center;
}

.artist-img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.artist-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-artist-info {
    margin-top: 20px;
}

.tracks-list {
    list-style-type: none;
}

.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
}





/*--------------------------------------------------------------------------------------------------------------------CONTACT - Main Header--*/

.bk-contact-container {
    height: 100vh;
    background-color: floralwhite;
}

.contact-text {
    padding-top: 50px;
    margin-bottom: 0px;
    font-size: xxx-large;
    font-weight: 700;
}

/*--------------------------------------------------------------------------------------------------------------------Contact Form--*/

form { 
    max-width: 420px;
    margin: auto;
    padding-top: 50px;
    position: relative;
    margin-bottom: 0px;
}

.feedback-input {
  color: #1a1c1d;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #1a1c1d;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { 
    border:2px solid #1a1c1d;
 }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  width: 100%;
  background:#1a1c1d;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:floralwhite;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover {
    background:#313a3f;
}







/*--------------------------------------------------------------------------------------------------------------------buttons--*/

.btn-info {
    font-weight: bold;
    font-size: x-large;
    border-radius: 3.125rem;
    width: 12.5rem;
    background-color: #117a8b;
    border-color: #117a8b;
}

.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.btn-info:active:focus {
    background-color: #18b7cf;
    border-color: #18b7cf;
    color: white;
}

.btn-discover {
    color: white;
    font-weight: 600;
    background-color: #eb358d;
    border-radius: 0.625rem;
    margin-top: 0.625rem;
}

.btn-discover:hover,
.btn-discover:active,
.btn-discover:focus,
.btn-discover:active:focus {
    background-color: #cf1770;
    border-color: #cf1770;
    color: white;
}

