@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}

/*--------------------------------------------------------------------------------------------------------------------Navbar--*/

.navbar {
    z-index: 1;
    background-color: #343254;
}

.nav-heading a {
    color: floralwhite;
    font-weight: 400;
}

/*--------------------------------------------------------------------------------------------------------------------Footer--*/

.container-wrapper-footer {
    background-color: #343254;
    text-align: center;
    padding-top: 1.25rem;
    padding-bottom: .625rem;
}    

.social-footer a {
    font-size: 3rem;
    color: floralwhite;
    padding-left: .625rem;
    padding-right: .625rem;
}

.footer-container h6 {
    color: floralwhite;
}

.footer-container p {
    color: floralwhite;
    font-size: xx-small;
    margin-bottom: 0;
}

/*--------------------------------------------------------------------------------------------------------------------HOMEPAGE - Logo/Background--*/

.bk-container {
    height: 100vh;
    background: url(../images/fob_flower.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:flex;    
    align-items:flex-end;
    justify-content: center;
    position: relative;
    margin-top: -0.313rem;
}

.logo {
    z-index: 1;
    position: absolute;
    top: 0;
    margin-top: 2.5rem;
}

.jumbotron-main {
    background-color: transparent;
    padding-top: 43.75rem;
    padding-bottom: 3.75rem;
    margin-top: 0;
    border-top-width: 3.125rem;
}

.main-header {
    font-weight: bold;
    color: floralwhite;
    margin-bottom: 1.875rem;
}

/*--------------------------------------------------------------------------------------------------------------------Home - About--*/

.container-wrapper-about{
    padding-left: .313rem;
    padding-right: .313rem;
    background-color: floralwhite;
    padding-top: 3.125rem;
}

.about-container p {
    margin-bottom: 0;
    padding-bottom: 3.125rem;
}

.features-header {
    margin-bottom: 1.25rem;
}

/*--------------------------------------------------------------------------------------------------------------------Home - Features--*/

.container-wrapper-features {
    background-color: #f0b2d6;
    padding: .625rem 1.25rem;
}

/*--------------------------------------------------------------------------------------------------------------------MUSIC - Main--*/

.bk-music-container {
    background: linear-gradient(#343254, #f0b2d6);
}

.shop-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}

.music-header {
    font-weight: bold;
    color: black;
    margin-bottom: 1.875rem;
}

.audio-header {
    padding-bottom: 1.875rem;
    font-weight: 400;
    color: floralwhite;
    padding-top: 3.125rem;
}

.audio-paragraph {
    padding: .625rem 1.875rem 1.875rem;
    color: floralwhite;
}

.audio-paragraph a {
    font-weight: 700;
}

hr {
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
    border: 1px solid floralwhite;
    width: auto;
    max-width: 20%;
    height: auto;
}

.audio-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fob-image-audio {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
}

.fob-image-audio h5 {
    color: floralwhite;
    font-weight: 500;
    padding-bottom: .625rem;
    padding-top: .625rem;
}

.fob-image-audio img {
    border-radius: .563rem;
    border: 1px solid floralwhite;
}

.audio-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--------------------------------------------------------------------------------------------------------------------Music - Video--*/

.video-container {
    padding-left: 0;
    padding-right: 0;
    background: linear-gradient(#f0b2d6, #343254);
    margin-top: -0.313rem;
}

.video-position {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4.688rem;
    padding-top: .938rem;
}

.make-beats-header {
    color: #343254;
    font-weight: 600;
    padding-bottom: .625rem;
    padding-top: 3.125rem;
}

.beat-tutorial {
    margin-bottom: 1.25rem;
    padding-bottom: 1.25rem;
    font-size: large;
}

iframe {
    border-radius: .625rem;
    border: 1px solid floralwhite;
}

/*--------------------------------------------------------------------------------------------------------------------GALLERY--*/

.gallery h2 {
    color: #343254;
    margin-bottom: 0;
    padding-bottom: 1.25rem;
}

.hr-gallery {
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
    border: 1px solid #343254;
    width: auto;
    max-width: 20%;
    height: auto;
}

.img-gallery {
    text-align: center;
}

.img-gallery img {
    width: auto;
    max-width: 100%;
    height: auto;
    padding-top: .625rem;
    padding-bottom: .625rem;
}

/*--------------------------------------------------------------------------------------------------------------------CREDITS - Main Artists--*/

.main-artist-container {
    background: linear-gradient(#343254, #f0b2d6);
}

.main-artist {
    padding-bottom: 3.125rem;
    padding-top: 3.125rem;
}

.main-artist-header {
    margin-top: 0;
    margin-bottom: 1.25rem;
    font-size: xx-large;
    font-weight: 400;
    color: floralwhite;
}

.main-artist p {
    color: floralwhite;
    padding-bottom: 1.875rem;
}

.main-artist-image {
    text-align: center;
}

.artist-img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
    border: 1px solid floralwhite;
    border-radius: 1.25rem;
}

.artist-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: floralwhite;
    font-size: larger;
}

.main-artist-info {
    margin-top: 1.25rem;
}

.main-artist-info h3 {
    font-size: xx-large;
}

.main-artist-info h4 {
    font-weight: 200;
    font-size: x-large;
}

.main-artist-info h5 {
    text-align: center;
    font-weight: 500;
}

.tracks-list {
    list-style-type: none;
}

.main-social-platforms {
    display: flex;
    justify-content: center;
    align-items: center;
}

.artist-social {
    color: floralwhite;
    font-size: xx-large;
    margin-top: .625rem;
    padding: .625rem;
}

/*--------------------------------------------------------------------------------------------------------------------Credits - Other Artists--*/

.collapse-btn {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.other-artists-container {
    background-color: #f0b2d6;
    margin-top: 0;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}

.other-artists-list {
    align-items: center;
    border-color: #343254;
    background-color: #343254;
    font-weight: 600;
}

.other-artists-list a {
    color: white;
}

/*--------------------------------------------------------------------------------------------------------------------CONTACT - Main Header--*/

.bk-contact-container {
    height: 110vh;
    background-color: floralwhite;
}

.contact-text {
    padding-top: 3.125rem;
    margin-bottom: 0;
    font-size: xx-large;
    font-weight: 500;
    color: #343254;
}

.contact-paragraph {
    color: #343254;
    margin-bottom: 0;
    padding-top: 1.25rem;
    padding-right: .625rem;
    padding-left: .625rem;
}

/*--------------------------------------------------------------------------------------------------------------------Contact Form--*/

form { 
    max-width: 26.25rem;
    margin: auto;
    padding-top: 3.125rem;
    position: relative;
    margin-bottom: 0;
}

.feedback-input {
  color: #343254;
  font-weight: 500;
  font-size: 1.125rem;
  border-radius: .313rem;
  line-height: 2.3rem;
  background-color: transparent;
  border: 2px solid #343254;
  padding: 0;
  margin-bottom: .938rem;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus { 
    border: 2px solid #343254;
 }

textarea {
  height: 9.375rem;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  background:#343254;
  border-radius: .313rem;
  border: 0;
  cursor: pointer;
  color:floralwhite;
  font-size: 1.5rem;
  padding-top: .625rem;
  padding-bottom: .625rem;
  transition: all 0.3s;
  margin-top: -0.25rem;
  font-weight: 700;
}
[type="submit"]:hover {
    background:#45436d;
}

/*--------------------------------------------------------------------------------------------------------------------buttons--*/

.btn-info {
    font-weight: bold;
    font-size: x-large;
    border-radius: 3.125rem;
    width: 12.5rem;
    background-color: #117a8b;
    border-color: #117a8b;
}

.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.btn-info:active:focus {
    background-color: #18b7cf;
    border-color: #18b7cf;
    color: white;
}

.btn-info-music {
    font-weight: bold;
    font-size: x-large;
    border-radius: 3.125rem;
    width: 12.5rem;
    background-color: #343254;
    border-color: floralwhite;
    color: floralwhite;
}

.btn-info-music:hover,
.btn-info-music:active,
.btn-info-music:focus,
.btn-info-music:active:focus {
    background-color: #4e4a75;
    border-color: floralwhite;
    color: white;
}

.btn-discover {
    color: white;
    font-weight: 600;
    background-color: #eb358d;
    border-radius: .625rem;
    margin-top: .625rem;
}

.btn-discover:hover,
.btn-discover:active,
.btn-discover:focus,
.btn-discover:active:focus {
    background-color: #cf1770;
    border-color: #cf1770;
    color: white;
}

.btn-credits {
    background-color: #343254;
    border-color: #343254;
    color: floralwhite;
    box-shadow: none;
    width: auto;
    max-width: 100%;
    font-size: x-large;
}

.btn-credits:hover,
.btn-credits:active,
.btn-credits:focus,
.btn-credits:active:focus {
    background-color: #343254;
    border-color: #343254;
    color: white;
}

.btn-primary:focus {
    box-shadow: none;
}

.btn:focus {
    box-shadow: none;
}



